@media (max-width: 1200px) {
    .header {
        grid-template-areas:
            "title theme-toggle"
            "header-navegation header-navegation";
        grid-template-columns: auto 0;
        padding: 10px 40px;
    }

    .header .title {
        margin: auto;
    }

    .header .header-navegation ul {
        justify-content: center;
    }

    .about .about-description .about-text p {
        font-size: var(--font-size-medium);
        font-weight: 500;
    }
}

@media (max-width: 992px) {
    .home {
        grid-template-areas:
            "home-image"
            "home-message";
        grid-template-columns: 1fr;
        grid-template-rows: 50% 40%;
    }

    .home .home-message {
        align-items: center;
        justify-content: flex-start;
        margin: 20px;
    }

    .home .home-message .welcome-text {
        text-align: center;
    }

    .home .home-message .welcome-text p {
        display: none;
    }

    .home .home-message .welcome-text h2 {
        margin: 20px;
    }

    .home .home-image {
        scale: 0.8;
        margin: 0;
    }

    .home .home-image {
        justify-content: center;
        margin: 0;
    }

    .about .about-title h1 {
        font-size: var(--font-size-large);
    }

    .about .about-title p {
        font-size: var(--font-size-large);
    }


}


@media (max-width: 768px) {
    .header {
        grid-template-areas:
            "theme-toggle title";
        grid-template-columns: 0 auto;
        min-height: 70px;
    }

    .header .header-navegation ul {
        display: none;
        width: 250px;
        background-color: var(--color-secundary);
        padding: 10px;
    }

    .header .header-navegation label .menu {
        display: block;
    }

    .header .header-navegation label .menu:hover {
        cursor: pointer;
    }

    .header input:checked~ul {
        display: block;
    }

    .header .header-navegation {
        position: absolute;
        top: 8px;
        right: 40px;
        z-index: 1;
    }

    .header .header-navegation ul a {
        display: block;
        text-align: center;
        padding: 20px;
    }

    .header .header-navegation label .menu {
        position: relative;
        top: -13px;
        right: -30px;
    }

    .header .theme-toggle {
        height: 40px;
        width: 40px;
    }

    .about .about-description .about-text p {
        font-size: var(--font-size-base);
        font-weight: 500;
    }

    .about .about-description .about-box-description img {
        position: absolute;
        left: -10%;
        height: 400px;
        min-width: 120px;
        transform: translatey(-50%);
    }
}

@media (max-width: 576px) {
    .header .title p {
        display: none;
    }

    .header .title::after {
        content: "Lucas Jones";
    }

    .header .header-navegation label .menu {
        position: relative;
        top: -13px;
        right: -40px;
    }

    .home {
        margin: 0;
    }

    .home .home-message .welcome-text h1 {
        display: none;
    }

    .home .home-message .welcome-text h2 {
        font-size: var(--font-size-base);
    }

    .home .home-message .welcome-text::before {
        content: 'Dev Front-End';
        font-size: var(--font-size-large);
        color: var(--color-accent);
        font-weight: bold;
    }

    .home .home-message a p {
        font-size: var(--font-size-base);
    }

    .home .home-message .social-profiles a {
        flex-basis: 35%;
    }

    .about .about-title h1 {
        font-size: var(--font-size-medium);
    }

    .about .about-title {
        padding: 0px 20px;
    }

    .about .about-title p {
        font-size: var(--font-size-medium);
    }

    .about .about-description .about-box-description img {
        border: 3px solid var(--color-primary);
        left: 40px;
        min-width: 30%;
        height: 80px;
        margin: auto 0;
        top: 60px;
        object-fit: cover;
    }

    .about .about-description h2 {
        font-family: var(--font-secundary);
        font-size: var(--font-size-medium);
        text-align: right;
        font-weight: bold;
        color: var(--color-primary);
        padding-right: 20px;
        margin: 40px 20px 0 20px;
        align-self: flex-end;
    }

    .about .about-box-description .text-description {
        height: 400px;
        width: 90%;
        align-self: center;
        padding: 20px;
        margin: auto;
    }
}

@media (max-width: 500px) {
    .about .about-description h2 {
        font-size: var(--font-size-base);
    }

    .about .about-description h2 span {
        font-size: var(--font-size-large);
        color: var(--color-accent);
    }

    .about .about-box-description .text-description {
        padding: 20px 0px;
    }
}

@media (max-width: 440px) {
    .about .about-title h1 {
        font-size: var(--font-size-base);
    }

    .about .about-title p {
        font-size: var(--font-size-base);
    }

    .about .about-description .about-box-description img {
        left: 20px;
    }

    .about .about-description .about-text p {
        font-size: var(--font-size-small);
        line-height: 18px;
    }

    .about .about-description h2 {
        font-size: var(--font-size-small);
        padding-right: 0;
    }

    .about .about-description h2 span {
        font-size: var(--font-size-medium);
        color: var(--color-accent);
    }
}

@media (max-width: 400px) {
    .header .title::after {
        content: "Jones";
    }
}