@media (max-width: 1200px) {
    .header {
        grid-template-areas:
            "title theme-toggle"
            "header-navegation header-navegation";
        grid-template-columns: auto 0;
        padding: 10px 40px;
    }

    .header .title {
        margin: auto;
    }

    .header .header-navegation ul {
        justify-content: center;
    }

    .about .about-description .about-text p {
        font-size: var(--font-size-medium);
    }
}

@media (max-width: 992px) {
    .about .about-title {
        padding-bottom: 5px;
    }

    .about .about-description .about-box-description {
        height: 95%;
        width: 78%;
    }
    
    .about .about-description .about-buttom {
        scale: 2.5;
        height: 50px;
    }
}

@media (max-width: 850px) {
    .about {
        grid-template-rows: 120px calc(100vh - 200px) 80px;
    }

    .about .about-title p {
        font-size: var(--font-size-medium);
    }
}

@media (max-width: 800px) {
    .header {
        grid-template-areas:
            "theme-toggle title";
        grid-template-columns: 0 auto;
        min-height: 70px;
    }

    .header .header-navegation ul {
        display: none;
        width: 250px;
        background-color: var(--color-secundary);
        padding: 10px;
    }

    .header .header-navegation label .menu {
        display: block;
    }

    .header .header-navegation label .menu:hover {
        cursor: pointer;
    }

    .header input:checked~ul {
        display: block;
    }

    .header .header-navegation {
        position: absolute;
        top: 8px;
        right: 40px;
        z-index: 1;
    }

    .header .header-navegation ul a {
        display: block;
        text-align: center;
        padding: 20px;
    }

    .header .header-navegation label .menu {
        position: relative;
        top: -13px;
        right: -30px;
    }

    .header .theme-toggle {
        height: 40px;
        width: 40px;
    }

    .home {
        grid-template-areas:
            "home-image home-image"
            "home-message home-message";
        grid-template-columns: 1fr;
        grid-template-rows: calc((100vh - 70px)*0.5) calc((100vh - 70px)*0.5);
    }

    .home .home-message {
        align-items: center;
        justify-content: flex-start;
        margin: 20px 20px;
    }

    .home .home-message .welcome-text {
        text-align: center;
    }

    .home .home-message .welcome-text p {
        display: none;
    }

    .home .home-message .welcome-text h2 {
        margin: 25px;
    }

    .home .home-message .social-profiles i {
        margin: 25px 20px;
    }

    .home .home-image {
        justify-content: center;
    }
}

@media (max-width: 750px) {
    .about .about-description .about-box-description img {
        left: -12%;
        top: 20%;
        opacity: 0.8;
    }

    .about .about-description .about-text {
        margin-left: 0%;
        z-index: 1;
    }

    .about .about-description .about-text p {
        margin: 15px 20px;
    }
}

@media (max-width: 576px) {
    .header .title p {
        display: none;
    }

    .header .title::after {
        content: "Lucas Jones";
    }

    .header .header-navegation label .menu {
        position: relative;
        top: -13px;
        right: -40px;
    }

    .home .home-message .welcome-text h1 {
        font-size: var(--font-size-large);
    }

    .home .home-message .welcome-text h2 {
        font-size: var(--font-size-base);
    }

    .home .home-message a p {
        font-size: var(--font-size-base);
    }

    .about .about-title {
        padding: 10px 10px;
    }

    .about .about-title h1 {
        font-size: var(--font-size-large);
    }

    .about .about-title p {
        font-size: var(--font-size-base);
    }

    .about .about-description h2 {
        margin: 5px;
    }

    .about .about-description .about-text p {
        font-size: var(--font-size-base);
    }

}

@media (max-width: 375px) {
    .header .title::after {
        content: "Jones";
    }

    .about .about-title h1 {
        font-size: var(--font-size-base);
    }

    .about .about-description .about-text p {
        font-size: var(--font-size-small);
    }
}