.technologies {
  display: grid;
  grid-template-areas:
    "technologies-title"
    "technologies-description";
  grid-template-rows: 80px auto;
}

.technologies .technologies-title {
  grid-area: technologies-title;
  padding: 20px 40px;
}

.technologies .technologies-title h1 {
  font-family: var(--font-heading);
  font-size: var(--font-size-extra-large);
  font-weight: bold;
  color: var(--color-primary);
}

.technologies .technologies-title h1 span {
  color: var(--color-accent);
}

.technologies-description {
  grid-area: technologies-description;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.technologies-description .title-skills{
  color: var(--color-accent);
  font-size: var(--font-size-large);
  align-self: center;
  margin: 20px;
}

.technologies-hard-skills {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.technologies-hard-skills .technologies-element-acordeon {  
  min-width: 450px;
}

.technologies-hard-skills .technologies-element-acordeon .acordeon-fixed-box {
  display: flex;
  min-height: 60px;
  margin-top: 12px;
  align-items: center;
  background-color: var(--color-element-background);
  cursor: pointer;
}

.acordeon-fixed-box .box-icon {
  position: relative;
  display: flex;
  width: 60px;
  height: 60px;
  margin-right: 25px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent);
  transition: 0.4s ease-in-out;
}

.acordeon-fixed-box .box-icon .icon-plus {
  width: 5px;
  height: 30px;
  border-radius: 3px;
  background-color: var(--color-secundary);
  transition: 0.6s ease-in-out;
}

.acordeon-fixed-box .box-icon .icon-minus {
  position: absolute;
  width: 30px;
  height: 5px;
  border-radius: 3px;
  background-color: var(--color-secundary);
}

.acordeon-fixed-box .acordeon-title {
  font-family: var(--font-secundary);
  font-size: var(--font-size-large);
  color: var(--color-primary);
  font-weight: bold;
}

.technologies-hard-skills .technologies-element-acordeon .acordeon-box-click {
  overflow: hidden;
  height: 0;
  padding: 0 30px;
  background-color: var(--color-element-background);
  transition: 0.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.technologies-hard-skills .technologies-element-acordeon .acordeon-box-click i{
  font-size: var(--font-size-mega-large);
  color: var(--color-primary);
}

.technologies-hard-skills .technologies-element-acordeon .acordeon-box-click .acordeon-text{
  font-family: var(--font-secundary);
  font-size: var(--font-size-medium);
  color: var(--color-primary);
  margin: 10px;
  line-height: 20px;
}

.technologies-hard-skills .technologies-element-acordeon .acordeon-fixed-box.abaConteudoAberto {
  background-color: var(--color-accent);
  opacity: 0.5;
}

.technologies-hard-skills .technologies-element-acordeon .acordeon-fixed-box:hover {
  background-color: var(--color-accent);
  opacity: 0.6;
}

.technologies-hard-skills .technologies-element-acordeon .acordeon-fixed-box.abaConteudoAberto .box-icon .icon-plus {
  transform: rotate(90deg);
}

.technologies-hard-skills .technologies-element-acordeon .acordeon-fixed-box.abaConteudoAberto .box-icon {
  transform: rotatez(180deg);
}

.university-box{
  display: flex;
  margin: 0 20px;
  text-align: justify;
  align-items: center;
}

.university-box p{
  font-family: var(--font-secundary);
  font-size: var(--font-size-medium);
  color: var(--color-primary);
  margin: 10px;
}

.description-steps {
  display: flex;
  flex-direction: column;
  background-color: var(--color-element-background);
  height: 150px;
  max-width: 100%;
  min-width: 772px;
  overflow: hidden;
  margin-top: 20px;
  padding: 10px;
  border:  1px dashed var(--color-primary);
}

.description-steps div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
}

.description-steps div h2{
  font-family: var(--font-secundary);
  font-size: var(--font-size-large);
  color: var(--color-accent);
  text-align: center;
  margin: 10px;
}

.description-steps div p{
  font-family: var(--font-secundary);
  font-size: var(--font-size-medium);
  color: var(--color-primary);
  text-align: justify;
}

#step-1:checked~.time-line-steps ul li:nth-child(1):before,
#step-1:checked~.time-line-steps ul li:nth-child(1):after {
  background-color: var(--color-accent);
}

#step-2:checked~.time-line-steps ul li:nth-child(1):before,
#step-2:checked~.time-line-steps ul li:nth-child(1):after,
#step-2:checked~.time-line-steps ul li:nth-child(2):before,
#step-2:checked~.time-line-steps ul li:nth-child(2):after {
  background-color: var(--color-accent);
}

#step-3:checked~.time-line-steps ul li:nth-child(1):before,
#step-3:checked~.time-line-steps ul li:nth-child(1):after,
#step-3:checked~.time-line-steps ul li:nth-child(2):before,
#step-3:checked~.time-line-steps ul li:nth-child(2):after,
#step-3:checked~.time-line-steps ul li:nth-child(3):before,
#step-3:checked~.time-line-steps ul li:nth-child(3):after {
  background-color: var(--color-accent);
}

#step-4:checked~.time-line-steps ul li:nth-child(1):before,
#step-4:checked~.time-line-steps ul li:nth-child(1):after,
#step-4:checked~.time-line-steps ul li:nth-child(2):before,
#step-4:checked~.time-line-steps ul li:nth-child(2):after,
#step-4:checked~.time-line-steps ul li:nth-child(3):before,
#step-4:checked~.time-line-steps ul li:nth-child(3):after,
#step-4:checked~.time-line-steps ul li:nth-child(4):before,
#step-4:checked~.time-line-steps ul li:nth-child(4):after {
  background-color: var(--color-accent);
}

#step-5:checked~.time-line-steps ul li:nth-child(1):before,
#step-5:checked~.time-line-steps ul li:nth-child(1):after,
#step-5:checked~.time-line-steps ul li:nth-child(2):before,
#step-5:checked~.time-line-steps ul li:nth-child(2):after,
#step-5:checked~.time-line-steps ul li:nth-child(3):before,
#step-5:checked~.time-line-steps ul li:nth-child(3):after,
#step-5:checked~.time-line-steps ul li:nth-child(4):before,
#step-5:checked~.time-line-steps ul li:nth-child(4):after,
#step-5:checked~.time-line-steps ul li:nth-child(5):before,
#step-5:checked~.time-line-steps ul li:nth-child(5):after {
  background-color: var(--color-accent);
}

#step-1:checked~.time-line-steps .progress-line .line {
  width: 3%;
}

#step-2:checked~.time-line-steps .progress-line .line {
  width: 25%;
}

#step-3:checked~.time-line-steps .progress-line .line {
  width: 50%;
}

#step-4:checked~.time-line-steps .progress-line .line {
  width: 75%;
}

#step-5:checked~.time-line-steps .progress-line .line {
  width: 100%;
}

#step-1:checked~.description-steps div h2 {
  margin-top: 0;
}

#step-2:checked~.description-steps div h2 {
  margin-top: -150px;
}

#step-3:checked~.description-steps h2 {
  margin-top: -300px;
}

#step-4:checked~.description-steps h2 {
  margin-top: -450px;
}

#step-5:checked~.description-steps h2 {
  margin-top: -600px;
}

.timeline-skills {
  display: flex;
  flex-direction: column;
  min-width: 772px;
  margin: 20px;
  position: relative;
}

.timeline-skills .time-line-steps {
  position: relative;
}

.timeline-skills .time-line-steps ul li i {
  font-size: var(--font-size-super-large);
  color: var(--color-primary);
}

.timeline-skills .time-line-steps ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.timeline-skills .time-line-steps ul li {
  width: 120px;
  text-align: center;
}

.timeline-skills .time-line-steps ul li:not(:last-child) {
  margin-right: 40px;
}

.timeline-skills .time-line-steps ul li label {
  padding: 85px 10px 75px 10px;
  cursor: pointer;
  line-height: 100px;
}

.timeline-skills .time-line-steps ul li::before {
  content: "";
  display: block;
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px #aaa;
  transition: all 0.5s ease;
}

.timeline-skills .time-line-steps ul li:hover::before {
  background-color: var(--color-accent);
}

.timeline-skills .time-line-steps ul li:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: var(--color-secundary);
  margin: auto;
  border: solid 7px var(--color-primary);
  border-radius: 50%;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}

.timeline-skills .time-line-steps ul li:hover::after {
  background-color: var(--color-accent);
}

.progress-line {
  width: 647px;
  background-color: var(--color-primary);
  height: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 141px;
  border-radius: 50px;
  transition: all 0.9s ease;
}

.timeline-skills .progress-line .line {
  content: "";
  width: 3%;
  height: 100%;
  background-color: var(--color-accent);
  position: absolute;
  z-index: -5;
  transition: all 0.9s ease;
}

.timeline-skills input {
  display: none;
}

.technologies-solft-skill {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 800px;
  margin: 20px;
}

.technologies-solft-skill .subtitle-skills{
  font-family: var(--color-secundary);
  font-size: var(--font-size-base);
  color: var(--color-primary);
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}

.technologies-solft-skill .soft-skills-box {
  position: relative;
  height: 600px;
  width: 500px;
  border: 2px solid var(--color-primary);
  display: flex;
  overflow: hidden;
}

.technologies-solft-skill .soft-skills-box input{
  display: none;
}

.technologies-solft-skill .soft-skills-box ul{
  position: absolute;
  display: flex;
  top: 73%;
  left: 50%;
  transform: translateX(-48%);
}

.technologies-solft-skill .soft-skills-box ul li {
  width: 20px;
  height: 20px;
}

.technologies-solft-skill .soft-skills-box ul li:not(:last-child){
  margin-right: 20px;
}

.technologies-solft-skill .soft-skills-box ul li label{
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--color-accent);
  background-color: var(--color-secundary);
}

.technologies-solft-skill .soft-skills-box ul li label:hover{
  opacity: 0.8;
  background-color: var(--color-primary);
}

.technologies-solft-skill .soft-skills-box .slide{
  height: 600px;
  width: 500px;
  transition: 2s ease-in-out;
}

.technologies-solft-skill .soft-skills-box .slide h2{
  font-family: var(--font-secundary);
  font-size: var(--font-size-large);
  color: var(--color-primary);
  text-align: center;
  margin: 20px;
  height: 48px;
}

.technologies-solft-skill .soft-skills-box .slide .image{
  height: 400px;
  width: 300px;
  margin: 0 100px;
}

.technologies-solft-skill .soft-skills-box .slide .image img{
  height: 100%;
  width: 100%;
}

.technologies-solft-skill .soft-skills-box .slide p{
  flex: 1;
  font-family: var(--color-secundary);
  font-size: var(--font-size-base);
  color: var(--color-primary);
  margin: 15px 15px 0px 15px;
  text-align: justify;
  font-weight: 400;
}

#radio1:checked ~ .first{
  margin-left: 0px;
}

#radio2:checked ~ .first{
  margin-left: -500px;
}

#radio3:checked ~ .first{
  margin-left: -1000px;
}

#radio4:checked ~ .first{
  margin-left: -1500px;
}

#radio1:checked ~ ul li .slide1{
  background-color: var(--color-primary);
}

#radio2:checked ~ ul li .slide2{
  background-color: var(--color-primary);
}

#radio3:checked ~ ul li .slide3{
  background-color: var(--color-primary);
}

#radio4:checked ~ ul li .slide4{
  background-color: var(--color-primary);
}