html {
    font-size: 62.5%;
    color: var(--color-primary);
    font-weight: 300;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-background);
    font-family: var(--font-primary);
    font-size: var(--font-size-base);
    min-width: 350px;
    max-width: 1300px;
    margin: auto;
}