/*  ==================== Styles technologies ==================== */
.technologies {
    margin-top: var(--margin-top-menu);
    display: grid;
    grid-template-areas:
        "technologies-title"
        "technologies-content";
    grid-template-columns: 1fr;
}

.technologies-title {
    grid-area: technologies-title;
}

.technologies-content {
    grid-area: technologies-content;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 700px);
    justify-content: space-evenly;
}

.title-skills {
    color: var(--color-highlight);
    font-size: var(--font-size-large);
    align-self: center;
    margin: 20px;
}

/*  ==================== Hard Skill Styles ==================== */
.technologies-hard-skills {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.technologies-hard-skills .technologies-element-acordeon {
    min-width: 450px;
}

.technologies-hard-skills .technologies-element-acordeon .acordeon-fixed-box {
    display: flex;
    min-height: 60px;
    margin-top: 12px;
    align-items: center;
    background-color: var(--color-element-background);
    cursor: pointer;
}

.acordeon-fixed-box .box-icon {
    position: relative;
    display: flex;
    min-width: 60px;
    width: 60px;
    height: 60px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-highlight);
    transition: 0.4s ease-in-out;
}

.acordeon-fixed-box .box-icon .icon-plus {
    width: 5px;
    height: 30px;
    border-radius: 3px;
    background-color: var(--color-secundary);
    transition: 0.6s ease-in-out;
}

.acordeon-fixed-box .box-icon .icon-minus {
    position: absolute;
    width: 30px;
    height: 5px;
    border-radius: 3px;
    background-color: var(--color-secundary);
}

.acordeon-fixed-box .acordeon-title {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 30px;
    justify-content: space-between;
    font-family: var(--font-secundary);
    font-size: var(--font-size-large);
    color: var(--color-primary);
    font-weight: bold;
}

.acordeon-fixed-box .acordeon-title i {
    font-size: var(--font-size-super-large);
    color: var(--color-primary);
}

.technologies-hard-skills .technologies-element-acordeon .acordeon-box-click {
    overflow: hidden;
    height: 0;
    padding: 0 30px;
    background-color: var(--color-element-background);
    transition: 0.5s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.technologies-hard-skills .technologies-element-acordeon .acordeon-box-click .acordeon-text {
    font-family: var(--font-secundary);
    font-size: var(--font-size-medium);
    color: var(--color-primary);
    margin: 10px;
    line-height: 20px;
}

.technologies-hard-skills .technologies-element-acordeon .acordeon-fixed-box.abaConteudoAberto {
    background-color: var(--color-highlight);
    opacity: 0.5;
}

.technologies-hard-skills .technologies-element-acordeon .acordeon-fixed-box:hover {
    background-color: var(--color-highlight);
    opacity: 0.6;
}

.technologies-hard-skills .technologies-element-acordeon .acordeon-fixed-box.abaConteudoAberto .box-icon .icon-plus {
    transform: rotate(90deg);
}

.technologies-hard-skills .technologies-element-acordeon .acordeon-fixed-box.abaConteudoAberto .box-icon {
    transform: rotatez(180deg);
}

.university-box {
    display: flex;
    margin: 0 20px;
    text-align: justify;
    align-items: center;
}

.university-box p {
    font-family: var(--font-secundary);
    font-size: var(--font-size-medium);
    color: var(--color-primary);
    margin: 10px;
}

/*  ==================== Soft Skill Styles ==================== */
.technologies-soft-skills {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.technologies-soft-skills h4 {
    text-align: center;
    font-size: var(--font-size-base);
    margin-bottom: 20px;
    width: 70%;
}

.slider-main {
    max-width: 500px;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    background-color: var(--color-element-background);
}

.slider-top {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 20%;
    width: 100%;
    transition: transform .5s ease-in-out;
}

.slider-top .soft-skill-type {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: var(--font-size-large);
    flex-shrink: 0;
    text-align: center;
}

.slider-bottom {
    position: absolute;
    display: flex;
    top: 20%;
    left: 0;
    height: 75%;
    width: 100%;
    transition: transform .5s ease-in-out;
}

.soft-skill-description {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.soft-skill-description p {
    width: 85%;
    font-size: var(--font-size-base);
    margin: 15px 0;
}

.soft-skill-description img {
    padding-top: 20px;
    height: 100%;
}

.slider-control .button {
    position: absolute;
    top: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
    z-index: 100;
    cursor: pointer;
    font-size: var(--font-size-extra-large);
    border: 1px solid var(--color-primary);
    background-color: var(--color-element-background);
    box-shadow: 1px 1px 1px var(--color-primary);
    transition: 0.2s ease-in-out;
}

.slider-control .button:hover {
    color: var(--color-accent);
    background-color: var(--color-highlight);
}

.slider-control .icon-left {
    left: 5px;
}

.slider-control .icon-right {
    right: 5px;
}

/*  ==================== Responsive Design ==================== */
@media(max-width: 992px) {
    .acordeon-fixed-box .acordeon-title {
        font-size: var(--font-size-medium);
    }

    .technologies-content {
        grid-template-columns: repeat(auto-fit, 570px);
    }

    .acordeon-fixed-box .acordeon-title i {
        font-size: var(--font-size-mega-large);
    }

    .technologies-soft-skills h4 {
        width: 90%;
    }
}

@media (max-width: 578px) {
    .technologies-content {
        grid-template-columns: repeat(auto-fit, 440px);
    }

    .technologies-hard-skills .technologies-element-acordeon {
        min-width: 350px;
    }
    
    .acordeon-fixed-box .acordeon-title {
        font-size: var(--font-size-base);
        padding: 0 10px;
    }

    .technologies-hard-skills .technologies-element-acordeon {
        min-width: 340px;
    }

    .acordeon-fixed-box .acordeon-title i {
        font-size: var(--font-size-large);
    }

    .technologies-hard-skills .technologies-element-acordeon .acordeon-box-click .acordeon-text {
        font-size: var(--font-size-base);
        margin: 5px;
    }

    .technologies-hard-skills .technologies-element-acordeon .acordeon-box-click {
        padding: 0 15px;
    }

    .slider-top .soft-skill-type {
        font-size: var(--font-size-medium);
    }
}

@media (max-width: 450px) {
    .technologies-content {
        grid-template-columns: repeat(auto-fit, 340px);
    }
}