/*  ==================== Projects Styles ==================== */
.projects {
    margin-top: var(--margin-top-menu);
    display: grid;
    grid-template-areas:
        "projects-title"
        "projects-content";
    grid-template-columns: 1fr;
}

.projects-title {
    grid-area: projects-title;
}

.projects-content {
    grid-area: projects-content;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: space-evenly;
    margin-top: 10px;
}

.projects-content .project {
    margin: 0 10px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
}

.projects-content .project h3 {
    text-align: center;
    font-size: var(--font-size-medium);
    margin: 15px 0;
}

.projects-content .project-image {
    position: relative;
    height: 330px;
}

.projects-content .desktop-mask {
    cursor: help;
    position: absolute;
    height: auto;
    width: 350px;
    top: 0;
    left: 0;
    z-index: 1;
}

.desktop-permanent,
.projects-content .desktop-responsive {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 174px;
    top: 12px;
    left: 12px;
    width: 308px;
    transition: 0.5s ease-in-out;
}

.projects-content .mobile-mask {
    cursor: help;
    position: absolute;
    height: auto;
    width: 100px;
    bottom: 0;
    right: 10px;
    z-index: 2;
}

.mobile-permanent,
.projects-content .mobile-responsive {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 147px;
    bottom: 14px;
    right: 14px;
    width: 92px;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.projects-content .project .project-info {
    padding: 20px;
}

.projects-content .project .project-info .project-description {
    font-family: var(--font-secundary);
    font-size: var(--font-size-base);
    color: var(--color-primary);
}

.projects-content .project .project-info p span {
    color: var(--color-highlight);
}

.projects-content .project .project-link {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    flex: 1;
    padding: 20px 0;
}

.projects-content .project .project-link a {
    background-color: var(--color-primary);
    color: var(--color-secundary);
    font-size: var(--font-size-base);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    height: 40px;
    width: 140px;
    border-radius: 20px;
    transition: .2s ease-in-out;
    box-shadow: 1px 1px 2px var(--color-primary);
}

.projects-content .project .project-link a:hover {
    background-color: var(--color-highlight);
    box-shadow: 1px 1px 2px var(--color-highlight);
}

.projects-content .project .project-link a > * {
    transition: .2s ease-in-out;
}

.projects-content .project .project-link a:hover > * {
    color: var(--color-accent);
}

.projects-content .project .project-link a p {
    color: var(--color-secundary);
}

.projects-content .project .project-link a i {
    margin-right: 10px;
    font-size: var(--font-size-medium);
    color: var(--color-secundary);
}

.icon-mouse {
    animation: hoverme 0.6s infinite alternate ease-in-out;
    color: var(--color-highlight);
    text-shadow: none;
}

@-webkit-keyframes hoverme {
    0% {opacity: 0.3;}
    100% {opacity: 0.9;}
}
/*  ==================== Projects Images Links ==================== */

/* Projeto 01 */
.project-01 .desktop-permanent {
    background-image: url(../images/project-01-desktop.png);
}

.project-01 .desktop-mask:hover~.desktop-responsive {
    transition: background-image 0.5s ease-in-out;
    background-image: url(../images/project-01-desktop.gif);
}

.project-01 .mobile-permanent {
    background-image: url(../images/project-01-mobile.png);
}

.project-01 .mobile-mask:hover~.mobile-responsive {
    transition: background-image 0.5s ease-in-out;
    background-image: url(../images/project-01-mobile.gif);
}

/* Projeto 02 */
.project-02 .desktop-permanent {
    background-image: url(../images/project-02-desktop.png);
}

.project-02 .desktop-mask:hover~.desktop-responsive {
    transition: background-image 0.5s ease-in-out;
    background-image: url(../images/project-02-desktop.gif);
}

.project-02 .mobile-permanent {
    background-image: url(../images/project-02-mobile.png);
}

.project-02 .mobile-mask:hover~.mobile-responsive {
    transition: background-image 0.5s ease-in-out;
    background-image: url(../images/project-02-mobile.gif);
}

/* Projeto 03 */
.project-03 .desktop-permanent {
    background-image: url(../images/project-03-desktop.png);
}

.project-03 .desktop-mask:hover~.desktop-responsive {
    transition: background-image 0.5s ease-in-out;
    background-image: url(../images/project-03-desktop.gif);
}

.project-03 .mobile-permanent {
    background-image: url(../images/project-03-mobile.png);
}

.project-03 .mobile-mask:hover~.mobile-responsive {
    transition: background-image 0.5s ease-in-out;
    background-image: url(../images/project-03-mobile.gif);
}

/* Projeto 04 */
.project-04 .desktop-permanent {
    background-image: url(../images/project-04-desktop.png);
}

.project-04 .desktop-mask:hover~.desktop-responsive {
    transition: background-image 0.5s ease-in-out;
    background-image: url(../images/project-04-desktop.gif);
}

.project-04 .mobile-permanent {
    background-image: url(../images/project-04-mobile.png);
}

.project-04 .mobile-mask:hover~.mobile-responsive {
    transition: background-image 0.5s ease-in-out;
    background-image: url(../images/project-04-mobile.gif);
}

/* Projeto 05 */
.project-05 .desktop-permanent {
    background-image: url(../images/project-05-desktop.png);
}

.project-05 .desktop-mask:hover~.desktop-responsive {
    transition: background-image 0.5s ease-in-out;
    background-image: url(../images/project-05-desktop.gif);
}

.project-05 .mobile-permanent {
    background-image: url(../images/project-05-mobile.png);
}

.project-05 .mobile-mask:hover~.mobile-responsive {
    transition: background-image 0.5s ease-in-out;
    background-image: url(../images/project-05-mobile.gif);
}

/* projeto 06 */
.project-06 .desktop-permanent {
    background-image: url(../images/project-06-desktop.png);
}

.project-06 .desktop-mask:hover~.desktop-responsive {
    transition: background-image 0.5s ease-in-out;
    background-image: url(../images/project-06-desktop.gif);
}

.project-06 .mobile-permanent {
    background-image: url(../images/project-06-mobile.png);
}

.project-06 .mobile-mask:hover~.mobile-responsive {
    transition: background-image 0.5s ease-in-out;
    background-image: url(../images/project-06-mobile.gif);
}

@media (max-width:578px) {
    .projects-content .project {
        margin: 0 5px;
    }
}

/*
Tamanho padrão para imagens
Desktop - 308px x 174px
Mobile - 92px x 147px
*/