:root {
    --color-primary: #fff;
    --color-secundary: #1F2235;
    --color-background: #e5e5e5;
    --color-text: #343a40;
    --color-accent: #FF4A57;
}

:root {
    --font-primary: 'Michroma', monospace;
    --font-secundary: "Roboto", sans-serif;
    --font-heading: 'Poppins', sans-serif;
    --font-size-small: 1.2rem;
    --font-size-base: 1.6rem;
    --font-size-medium: 2rem;
    --font-size-large: 3rem;
    --font-size-extra-large: 4rem;
}